body {
  font-family: 'Inconsolata', 'Consolas', monospace;
  font-size: 15px;
  background-color: $white;

  .input-field {
    display: flex;
    flex-direction: column;
    width: 257px;
    align-self: center;
  }

  input[type=text], input[type=password] {
    outline: none;
    -webkit-appearance: none;
    z-index: 1;
  }

  input[type=submit] {
    position: relative;
    background-color: $primary;
    color: $white;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 30px;
    text-align: center;
    align-self: center;
  }

  // "display: none" or "visibility: hidden" will not work out,
  // because the value will not be send to the server on form submit.
  // the input will be excluded out of tab order,
  // and we want your app to be accessible.
  input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .desktop {
    display: none;
  }
}

h1 {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;

  &:after {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 3px;
    background-color: $primary;
  }
}

.error-message {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: calc(100% - 60px);
  color: $primary;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 14px;

  a {
    font-weight: 700;
  }
}



@media (min-width: 992px) {
  body {
    .desktop {
      display: block;
    }
  }

  h1 {
   font-size: 35px;
  }

}
